/* css文件用scss语法测试 */
$blue: #056ef0;
.test {
  display: flex; // 这是scss注释
  color: $blue;
  .box {
    flex: 1;
  }
}

// postcss-neat插件测试. 不能与autoprefixer并存, 目前结论.
.container {
  @neat-outer-container;
  .test {
    @neat-span-columns 6;
  }
}